@model IEnumerable<WebTracNghiemOnline.Models.Quiz>
@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery-3.5.1.slim.min.js"></script>
<h2>Quiz</h2>
<div class="container">
    <input type="text" class="txtSearch container" placeholder="Nhập vào từ khóa cần tìm..." />
    <button class="btnSearch">Tìm kiếm</button>
</div>

<div class="container" id="kqTimKiem">
    @grid.GetHtml(
        tableStyle: "gridTable",
        headerStyle: "gridHeard",
        footerStyle: "gridFooter",
        rowStyle: "gridRow",
        alternatingRowStyle: "gridAltRow",
        columns: grid.Columns(
            grid.Column("ID_Quiz", header: "ID Quiz"),
            grid.Column("Title", header: "Tên bài Quiz"),
            grid.Column("Keys", header: "Mã"),
            grid.Column("Time_Start", header: "Bắt đầu"),
            grid.Column("Time_Finish", header: "Kết thúc"),
            grid.Column("Time", header: "Thời gian làm"),
            grid.Column("Allow_Attemp", header: "Số lần"),
            grid.Column("Creator", header: "Creator"),
            grid.Column("Chi tiết", format: p => @Html.ActionLink("Xem chi tiết", "Question", new { id = p.ID_Quiz })),
            grid.Column("Chỉnh sửa", format: p => @Html.ActionLink("Chỉnh sửa", "EditQuiz", new { id = p.ID_Quiz })),
            grid.Column("Xóa", format: p => @Html.ActionLink("Xóa", "DeleteQuiz", new { id = p.ID_Quiz })),
            grid.Column("Test", format: p => @Html.ActionLink("Test", "Test", "Test", new { id = p.ID_Quiz}, null))
        )
    )
</div>
<style>
    .gridRow td a{
        text-decoration:none;
    }
    .gridAltRow td a {
        text-decoration: none;
    }
    .gridTable {
        border: 1px solid #999999;
        width: 100%;
    }

        .gridTable td {
            border: 1px solid #999999;
        }

    .gridHeard {
        background: #a39d9d;
        text-align: center;
    }

        .gridHeard th a {
            text-align: center;
            text-decoration: none;
            color: black;
        }

    tr {
        height: 50px;
    }
</style>
<script>
    $('.btnSearch').click(function () {
        var tukhoa = $('.txtSearch').val();
        console.log(tukhoa);
        $.ajax({
            type: 'POST',
            data: {
                sTuKhoa:tukhoa
            },
            url:'@Url.Action("Search","QuanLy")',
            success: function (ketqua) {
                $('#kqTimKiem').html(ketqua);
            }
        })
    })
</script>
